@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    overflow-x: hidden;
}
.nav{
    color: rgb(176, 212, 229) ;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 1 rem;
}
.site-title{
    font-size: 2rem;
}
.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}
.nav a{
    color: inherit;
    text-decoration: none;
}
.nav li:hover{
    background-color: #777;
}
.nav li.active{
    background-color: #555;
}
.line-footer{
    color: black;
}